body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Sans-serif", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.192);
  align-items: center;
}
.nav-left {
  cursor: default;
}

.nav-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-link {
  margin: 0px 30px;
  color: rgb(218, 218, 218);
}
.nav-link:hover {
  color: #c5feed;
}

.banner-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 130px 0;
  color: white;
  align-items: center;
}
.banner-left {
  width: 50%;
}
.top-bl {
  font-weight: 700;
  font-size: 60px;
  max-width: 590px;
  margin-bottom: 20px;
}
.bottom-bl {
  opacity: 0.5;
  max-width: 500px;
  line-height: 150%;
  font-size: 18px;
}

.banner-right {
  width: 45%;
}

.banner-card {
  width: 100%;
  max-width: 313px;
  background-color: #1b2a52;
  border-radius: 40px;
  padding: 20px 15px;
  margin: 0 auto;
}

.card-title {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  padding: 10px 0 30px 0;
}

.card-main {
  background-color: #21325e;
  border-radius: 40px;
  padding: 22px;
}

.row-one {
  padding-bottom: 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.089);
  color: #c5feed8f;
}
.row-one > span {
  color: rgba(255, 255, 255, 0.267);
  margin-left: 10px;
}

.row-two {
  margin: 12px 0;
  color: rgba(255, 255, 255, 0.74);
  font-weight: 500;
}

.row-three {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.row-four > button {
  width: 100%;
}

.row-three-item {
  color: rgba(255, 255, 255, 0.575);
  background-color: #273a69;
  padding: 10px 15px;
  border-radius: 30px;
  margin-right: 8px;
  margin-bottom: 10px;
}
.row-three-item:nth-child(3n) {
  margin-right: unset;
}

/* solutions */
.solutions {
  padding-top: 250px;
}

.solutions-wrapper {
  width: 94%;
  min-height: 500px;
  border-radius: 40px;
  position: relative;
  padding-top: 300px;
  background-color: #f0f3f5 !important;
}

.features {
  position: absolute;
  left: 0;
  right: 0;
  top: -179px;
}

.features-wrapper {
  background-color: #21325e;
  padding: 60px 40px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.feature-item {
  width: 30%;
  padding-left: 20px;
  border-left: 1.5px solid rgba(170, 170, 170, 0.178);
}

.fa-dragon.i-feature {
  padding: 15px;
  background-color: #c5feed;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  border: 10px double #21325e;
}

.fi-middle {
  margin: 20px 0;
  font-weight: 600;
  color: white;
  font-size: 23px;
  border-left: 3px solid white;
  margin-left: -21.5px;
  padding-left: 21.5px;
}

.fi-bottom {
  color: rgba(255, 255, 255, 0.678);
  max-width: 83%;
}

.solutions-main {
  display: block;
  width: 85%;
  margin: 0 auto;
  padding-bottom: 100px;
}

.solution-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
}

.solution-item:nth-last-child(1) {
  margin-bottom: unset;
}

.si-left,
.si-right {
  width: 44%;
}

.sil-main {
  position: relative;
  background-color: #e0e6eb;
  border-radius: 20px;
  max-width: 70%;
  min-width: 310px;
  padding-bottom: 40px;
  margin: 0 auto;
}

.float-one {
  position: absolute;
  top: -60px;
  left: -40px;
  z-index: 3;
  background-color: white;
  box-shadow: 0 3px 10px -1px rgb(0 0 0 / 15%);
  padding: 15px;
  border-radius: 10px;
}

.fo-top {
  color: white;
  background-color: #1b2a52;
  border-radius: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  width: 50px;
  margin-bottom: 10px;
}

.float-two {
  position: absolute;
  z-index: 4;
  bottom: -23px;
  left: 50%;
  transform: translateX(-50%);
}
.f-btn {
  width: fit-content;
  background-color: #1b2a52 !important;
  color: #c5feed !important;
}
.silm-row {
  position: relative;
  background-color: white;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  color: #303c5e;
  z-index: 2;
}

.silm-row.two {
  border-radius: 0 0 20px 20px;
  border-top: 1px solid #eeeeee;
}

.left-sil {
  font-weight: 500;
}

.right-sil {
  font-weight: 600;
  background-color: #c5feed;
  padding: 7px 12px;
  border-radius: 20px;
}

.si-tag {
  padding: 8px 15px;
  background-color: white;
  border-radius: 20px;
  width: fit-content;
  text-transform: uppercase;
  color: #273a69;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 10px;
}

.si-top {
  font-weight: 600;
  font-size: 40px;
  color: #273a69;
  margin-bottom: 20px;
}

.sib-row {
  display: flex;
  align-items: center;
  color: rgb(97, 107, 138);
  margin-bottom: 10px;
}

.solution-item.reverse {
  flex-direction: row-reverse;
}

.solition-icon {
  margin-right: 15px;
  padding: 10px;
  background-color: white;
  border-radius: 50%;
  font-size: 10px;
  border: 3px double #abb8d8;
}

.footer {
  background-color: #273a69;
  color: white;
  margin-top: -1px;
}

.footer-wrapper {
  padding: 80px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
}

.footer-group.info {
  width: 30%;
}

.f-desc {
  margin: 25px 0;
  max-width: 200px;
  font-size: 14px;
  opacity: 0.6;
}

.fa-brands {
  color: #c5feed;
  font-size: 16px;
  padding: 7px;
  background-color: #1b2a52;
  border-radius: 50%;
  margin-right: 6px;
}

.fg-title {
  font-weight: 500;
  font-size: 17px;
  opacity: 0.8;
  margin-bottom: 25px;
}

.fg-item {
  font-size: 14px;
  opacity: 0.6;
  margin-bottom: 20px;
  cursor: pointer;
}

/* global */
.logo span:nth-of-type(1) {
  color: #273a69;
  background-color: #c5feed;
  padding: 0 7px;
  border-radius: 50%;
  font-size: 18px;
  font-weight: 600;
  border: thick double #c5feed;
}
.logo span:nth-of-type(2) {
  color: #c5feed;
  font-weight: 600;
  font-size: 20px;
}
.btn {
  border-radius: 40px;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #c5feed;
}
.btn.pry {
  color: #1b2a52;
  background-color: #c5feed;
  text-align: center;
}
.btn.sec {
  color: #c5feed;
  background-color: unset;
}

.click:hover {
  cursor: pointer;
}
.click:active {
  opacity: 0.7;
}

.blue-bg {
  background-color: #273a69;
}

.white-bg {
  background-color: #f3f6f8;
}

.desktop-max-width {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.desktop-max-width-large {
  max-width: 1220px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.desktop-max-width-larger {
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 768px) {
  .hamburger-menu {
    display: none;
  }
}

@media (max-width: 768px) {
  .nav-center,
  .nav-right {
    display: none;
  }

  .hamburger-menu {
    position: relative;
    transform: translateY(-8px);
  }

  .hamburger-menu > span {
    border-bottom: 3px solid white;
    border-radius: 3px;
    width: 24px;
    height: auto;
    position: absolute;
    right: 0;
    z-index: 10000;
  }

  .hamburger-menu > span:nth-of-type(1) {
    top: 0;
  }

  .hamburger-menu > span:nth-of-type(2) {
    top: 7px;
  }

  .hamburger-menu > span:nth-of-type(3) {
    top: 14px;
  }

  .banner-wrapper {
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }

  .banner-left,
  .banner-right {
    width: 100%;
    padding: 20px 0;
  }

  .top-bl {
    font-size: 40px;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
  }

  .bottom-bl {
    max-width: 500px;
    margin: 0 auto;
  }

  .features-wrapper {
    display: block;
  }

  .feature-item {
    width: 100%;
    margin-bottom: 40px;
  }

  .fi-bottom {
    max-width: 450px;
  }

  .solutions {
    margin-top: -1px;
  }

  .solutions-wrapper {
    width: unset;
    border-radius: 0px;
  }

  .solutions-main {
    margin-top: 600px;
    width: 100%;
  }

  .solution-item {
    display: block;
  }

  .si-left,
  .si-right {
    width: 100%;
  }

  .si-top {
    font-size: 35px;
  }

  .si-left {
    margin-bottom: 40px;
    transform: scale(0.85);
  }

  .footer-wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
    width: unset;
    flex-direction: column;
  }

  .footer-group {
    width: 100% !important;
    margin-bottom: 30px;
  }

  .f-desc {
    max-width: unset;
    margin: 15px 0;
  }

  .fg-title {
    margin-bottom: 15px;
  }

  .fg-item {
    margin-bottom: 10px;
  }
}
